@import "tailwindcss";

@theme {
  --text-default: #1e1e1e;
  --text-secondary: #757575;
  --text-tertiary: #b3b3b3;
}

body {
  background: #f5f5f5;
  font-size: 16px;
  color: var(--text-default);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
